.Product{
    display: flex;
    border-top: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name{
    color: blue;
    font-size: 400;
}
.product-details{
    margin-left:20px;
}
.Button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border:1px black solid;
    border-radius: 5px;
    cursor: pointer;
}